:root {
  --background-color: #f3f3f3;
  --text-color: #444;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Karla", sans-serif;
}

body {
  font-size: 1.6rem;
  background-color: var(--background-color);
  color: var(--text-color);
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}
